<ion-header class="ion-no-border">
  <ion-title>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>Maharastra</h1>
    </div>
  </ion-title>
</ion-header>
<ion-content [fullscreen]="true">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="state-container">
    <div class="state-image" fxLayoutAlign="center center" fxFlexFill>
      <img src="assets/images/ID2_MAHARASTRA_dj@2x.png" alt="Maharastra" usemap="#statemap">
      <map name="statemap">
        <area shape="rect" coords="34,44,270,350" alt="Maharastra" (click)="gotopage()">
        <area shape="rect" coords="290,172,333,250" alt="TamilNadu" (click)="gotopage()">
        <area shape="circle" coords="337,300,44" alt="Bihar" (click)="gotopage()">
      </map>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-footer>